@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #42312B;
  --secondary-color: #E1D8CF;
  --background-color: #6F7960;
  --text-color: #6D8870;
  --orange-color:#B5932D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* .bg-image {
  position: relative;
  background-image: url("/footerBg2.png");
  background-size: cover; 
  background-repeat: no-repeat;
}

.bg-image::after {
  content: "";
  background-color: red;
  width: 20rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
} */
